<template>
    <div class="director-box">
        <div class="director-avatar">
            <img class="director-logo" :src="info.avatar" />

            <div class="details-card">
                <div class="details-header">
                    <img class="director-logo" :src="info.avatar" />
                    <div class="details-card-dscription">
                        <div>{{ info.nickName }}</div>
                        <label-value
                            :title="words.member"
                            :content="info.member"
                        />
                    </div>
                    <div
                        :class="[
                            'details-status',
                            'details-status-' + classNameStatus
                        ]"
                    >
                        {{ status }}
                    </div>
                </div>
                <div class="details-tags">
                    <label-value :title="words.id" :content="info.id" />

                    <label-value :title="words.group" :content="info.group" />
                    <label-value
                        :title="words.joined"
                        :content="formatTime(info.joinTime)"
                    />
                </div>
            </div>
        </div>
        <div class="director-body">
            <div class="director-title">
                {{ info.nickName }}

                <i
                    v-if="info.gender !== Gender.NONE"
                    :class="[
                        'director-sex',
                        {
                            'director-sex-man': info.gender === Gender.MAN,
                            'director-sex-woman': info.gender === Gender.WOMAN
                        }
                    ]"
                />
            </div>
            <div class="director-pro">
                <div
                    v-for="(list, index) in lableArray"
                    :key="index"
                    class="director-content"
                >
                    <div
                        v-for="(item, itemIndex) in list"
                        :key="itemIndex"
                        class="director-label-box"
                    >
                        <label-value
                            class="director-label-value"
                            :title="item.label"
                            :content="item.value"
                        />
                        <div class="director-line">
                            <div
                                :style="{
                                    width:
                                        (item.value / item.valueMax) * 100 + '%'
                                }"
                            />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import LabelValue from 'crm-lib/src/components-base/label-value';
import { TypeProps } from './index';
import Info from './entities/Info';
import { i18n, translate } from './i18n/translates';
import { getFormatDateStr } from 'crm-lib/src/declare/ssr-broker-crm/client';
import { Summary } from 'ssr-broker-crm/src/types/summary';

@Component({
    i18n,
    components: { LabelValue }
})
export default class Director extends Vue {
    @Prop({ default: () => new Info() })
    public info!: TypeProps['info'];

    @Prop({ default: () => [] })
    public labelList!: TypeProps['labelList'];

    public translate = translate;

    public Gender = Summary.Gender;

    public UserStatus = Summary.UserStatus;

    public get classNameStatus() {
        return Summary.UserStatus[this.info.status].toLowerCase();
    }
    public get words() {
        return this.translate('words');
    }

    public get status() {
        if (this.info.status === Summary.UserStatus.NORMAL) {
            return this.words.normal;
        }
        if (this.info.status === Summary.UserStatus.DISABLE) {
            return this.words.disable;
        }

        return this.words.logout;
    }

    public get lableArray() {
        const labelArray: TypeProps['labelList'][] = [];
        const LENGTH = 2;

        for (let i = 0; this.labelList[LENGTH - 1]; i += LENGTH) {
            labelArray.push(this.labelList.splice(0, LENGTH));
        }
        return labelArray;
    }

    public formatTime(time) {
        return getFormatDateStr(time, 'DD MMM YYYY,HH:mm:ss') || '--';
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
img.director-logo {
    width: 60px;
    height: 60px;
    margin-right: 10px;
    object-fit: cover;
    border-radius: 50%;
    cursor: pointer;
}

.director-box {
    display: flex;
    padding: 20px;
}

.director-content {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-between;
    & .label-value-content {
        flex-direction: unset;
    }
}
.director-pro {
    display: flex;
}

.director-body {
    flex: 1;
}
.director-title {
    font-weight: bolder;
    font-size: 14px;
}
.director-sex {
    display: inline-block;
    width: 20px;
    height: 20px;
    vertical-align: bottom;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.director-sex-man {
    background-image: url('./assets/man.svg');
}
.director-sex-woman {
    background-image: url('./assets/woman.svg');
}
.details-card {
    position: absolute;
    top: 10px;
    left: 30px;
    z-index: 10;
    display: none;
    width: 340px;

    /* display: flex; */
    padding: 10px;
    overflow: hidden;
    background: @--color-white;
    border: 1px solid @--border-color-base;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.1);
}

.details-card-dscription {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: space-around;
}
.details-header {
    display: flex;
    padding: 10px 0;
    border-bottom: 1px solid @--color-text-placeholder;
}
.details-tags {
    display: flex;
    flex-wrap: wrap;
    /deep/ .label-value-show {
        word-break: unset;
    }
    /deep/ .label-value-box {
        margin-right: 20px;
    }
}
.director-avatar {
    position: relative;
    &:hover {
        .details-card {
            display: block;
        }
    }
}
.director-line {
    flex: 1;
    height: 6px;
    overflow: hidden;
    background: @--border-color-lighter;
    border-radius: 2px;
    & > div {
        height: 100%;
        background: #c7ced8;
        border-radius: 2px;
    }
}
.director-label-box {
    align-items: center;
    padding-right: 10px;
}
.details-status {
    width: 45px;
    height: 18px;
    color: #00af92;
    font-size: 12px;
    line-height: 18px;
    text-align: center;
    background: #e5f7f4;
    border-radius: 2px;
}
.details-status-disable {
    color: #eb4e5c;
    background: #fceeef;
}
.details-status-login {
    color: #3e92f4;
    background: #e5f1ff;
}
</style>
