<template>
    <div class="dynamic-list">
        <time-line-box v-if="list.length">
            <time-line
                v-for="(item, index) in list"
                :key="`${item.time}_${index}`"
                :title="item.nickName"
                :time="formatTime(item.time)"
                :content="item.content"
            />
        </time-line-box>
        <PullUp :list="listModel" lazyLoad />
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import TimeLine from 'crm-lib/src/components-base/time-line';
import TimeLineBox from 'crm-lib/src/components-base/time-line-box';

import {
    BaseListModel,
    getFormatDateStr,
    PullUp
} from 'crm-lib/src/declare/ssr-broker-crm/client';
import { API } from 'ssr-broker-crm/src/types/api';
@Component({
    components: {
        TimeLine,
        TimeLineBox,
        PullUp
    }
})
export default class Dynamic extends Vue {
    @Prop({ type: Object, required: true })
    public listModel!: BaseListModel<any, any>;

    public get list(): API.Dynamic.Item[] {
        return this.listModel.list || [];
    }

    public formatTime(time: number) {
        return getFormatDateStr(time, 'DD MMM YYYY,HH:mm:ss') || '--';
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
.dynamic-list {
    width: 100%;
    height: calc(100vh - 80px);
}
</style>
