<template>
    <div class="dynamic-main-top">
        <span class="total-box">
            {{ totalText }}
            <img
                class="refresh-icon"
                width="15"
                src="./assets/refresh.svg"
                alt="refresh"
                @click="refreshDynamicList"
            />
        </span>
        <span>
            <Dropdown
                :value="timeDuring"
                :list="duringTimeList"
                @input="updateTime"
            />
        </span>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { i18n, translate } from './i18n/translates/app';

import Dropdown from 'crm-lib/src/components-base/dropdown/main.vue';

import {
    TimeEnum,
    getTimeEnumByDuring,
    getDuringTime,
    BaseListModel
} from 'crm-lib/src/declare/ssr-broker-crm/client';
import { SelectItem } from 'crm-lib/src/types';

@Component({
    i18n,
    components: {
        Dropdown
    }
})
export default class DynamicToolTop extends Vue {
    @Prop({ type: Object, required: true })
    public listModel!: BaseListModel<any, any>;

    public translate = translate;

    public get params() {
        return this.listModel.params;
    }

    public get totalText() {
        const totalCount = this.listModel.totalCount;
        return this.translate('totalCount', {
            totalCount: String(totalCount)
        });
    }

    public get duringTimeList(): SelectItem[] {
        const timeMap = this.translate('list');
        return [
            {
                label: timeMap.all,
                value: TimeEnum.All
            },
            {
                label: timeMap.today,
                value: TimeEnum.Today
            },
            {
                label: timeMap.yesterday,
                value: TimeEnum.Yesterday
            },
            {
                label: timeMap.last3dyas,
                value: TimeEnum.Last3days
            },
            {
                label: timeMap.last7days,
                value: TimeEnum.Last7days
            },
            {
                label: timeMap.thisWeek,
                value: TimeEnum.ThisWeek
            },
            {
                label: timeMap.lastWeek,
                value: TimeEnum.LastWeek
            },
            {
                label: timeMap.thisMonth,
                value: TimeEnum.ThisMonth
            },
            {
                label: timeMap.lastMonth,
                value: TimeEnum.LastMonth
            },
            {
                label: timeMap.last3Month,
                value: TimeEnum.Last3Month
            }
        ];
    }

    public async refreshDynamicList() {
        await this.listModel.refreshList();
    }

    public get timeDuring() {
        const startTime = this.params?.startTime || 0;
        const endTime = this.params?.endTime || 0;
        return getTimeEnumByDuring(startTime, endTime);
    }

    public async updateTime(time: TimeEnum) {
        const during = getDuringTime(time);
        this.listModel.$setParams({
            startTime: during.BeginTime,
            endTime: during.EndTime
        });
        await this.refreshDynamicList();
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
.dynamic-main-top {
    position: sticky;
    top: 0;
    z-index: 11;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 15px;
    line-height: 20px;
    background: @--background-color-base;
}

.total-box {
    display: flex;
    align-items: center;
}
.refresh-icon {
    margin-left: 2px;
    padding: 4px;
    &:hover {
        background: @--border-color-base;
        border-radius: 50%;
        cursor: pointer;
    }
}
</style>
