<template>
    <SummaryItem :value="value" class="summary-item-box">
        <template #label>
            <img width="13" src="./images/location.svg" alt="location" />
        </template>
    </SummaryItem>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import SummaryItem from 'crm-lib/src/components-base/summary-item/index';

@Component({
    components: {
        SummaryItem
    }
})
export default class CountryView extends Vue {
    @Prop({ type: String, default: 'Country Name' })
    public value!: string;
}
</script>
