<template>
    <InfoCard :title="title">
        <div class="label-value-box">
            <LabelValue
                v-for="item in list"
                :key="item.title"
                class="label-value"
                :title="item.title"
                :content="item.content"
                :required="item.required || false"
                :bold="item.bold || false"
                :img="item.img"
                @click="copyText(item)"
            />
        </div>
    </InfoCard>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import InfoCard from 'crm-lib/src/components-base/card/info-card.vue';
import LabelValue, {
    TypeProps as LabelValueTypeProps
} from 'crm-lib/src/components-base/label-value';

@Component({
    components: { InfoCard, LabelValue }
})
export default class Card extends Vue {
    @Prop({
        type: String,
        default: () => ''
    })
    public title!: string;
    @Prop({
        type: Array,
        default: () => {
            return [];
        }
    })
    public list!: LabelValueTypeProps[];
    public copyText(item: LabelValueTypeProps) {
        this.copytFn(item.content ? item.content : '');
    }

    public copytFn(text: string) {
        const input: HTMLInputElement = document.createElement('input');
        input.value = text;
        document.body.appendChild(input);
        input.select();
        document.execCommand('copy');
        document.body.removeChild(input);
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var.less';
.label-value-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    user-select: none;
}
.label-value {
    width: 49%;
}
</style>
