<template>
    <div class="radio-box">
        <h4 class="radio-title">{{ title }}</h4>
        <FmRadioGroup v-model="radioValue" class="type-box">
            <FmRadio
                v-for="(item, index) in radioList"
                :key="index"
                :label="item.value"
                class="raio-list"
                >{{ item.label }}</FmRadio
            >
        </FmRadioGroup>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import FmRadio, { FmRadioGroup } from '@fm/vue-ui/components/radio';

export interface RaioData {
    label: string;
    value: string;
}

@Component({
    components: { FmRadio, FmRadioGroup }
})
export default class DepositMethod extends Vue {
    @Prop({
        type: String
    })
    public title!: string;
    @Prop({ default: () => '' })
    public value!: string;
    @Prop({
        type: Array
    })
    public radioList!: RaioData[];
    public depositType = '-1';
    public depositChannel = '-1';

    public get radioValue() {
        return this.value;
    }
    public set radioValue(value: string) {
        this.$emit('click', value);
        this.$emit('input', value);
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
.radio-title {
    margin: 0;
    padding: 0;
    color: @--color-text-primary;
    font-weight: 600;
    font-size: 14px;
}
.channel-box {
    box-sizing: border-box;
}
.type-box {
    margin-top: 20px;
}
.raio-list {
    width: 49%;
    margin-bottom: 16px;
}
</style>
