<template>
    <div class="refresh-box">
        <FMButton
            class="search-btn"
            type="primary"
            :outline="false"
            @click="search"
            >{{ seatchText }}</FMButton
        >
        <div class="reset-btn" @click="reset">
            <img
                :src="refreshSvg"
                width="16"
                class="icon-refresh"
                alt="refresh"
            />
            <span class="refresh-text">{{ resetText }}</span>
        </div>
    </div>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

import FMButton from '@fm/vue-ui/components/button';

import RefreshSvg from './images/refresh.svg';

@Component({
    components: { FMButton }
})
export default class SearchBox extends Vue {
    @Prop({
        type: String
    })
    public seatchText!: string;
    @Prop({
        type: String
    })
    public resetText!: string;
    public refreshSvg = RefreshSvg;
    public search() {
        this.$emit('search');
    }

    public reset() {
        this.$emit('reset');
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
.refresh-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 70px;
}
.reset-btn {
    display: flex;
    align-items: center;
    color: @--color-text-primary;
    font-size: 14px;
    cursor: pointer;
}
.refresh-text {
    padding-left: 6px;
}
</style>
