<template>
    <div class="search-box__wrapper">
        <div :class="['search-box', { 'search-active': active }]">
            <FmDropdown class="item-list" placement="bottom">
                <div class="dropdown-label">
                    <span class="search-select">{{ checkedLabel }} </span>
                    <img :src="img.AllowRight" alt="right" width="16" />
                    <span class="split">|</span>
                </div>
                <template v-slot:dropdown-menu>
                    <FmDropdownMenu>
                        <FmDropdownItem
                            v-for="(item, index) in list"
                            :key="index"
                            :active="item.value === checkedValue"
                            @click="itemClick(item.value)"
                            >{{ item.label }}</FmDropdownItem
                        >
                    </FmDropdownMenu>
                </template>
            </FmDropdown>
            <input
                v-model="searchText"
                :placeholder="placeholder"
                class="search-box__input"
                type="text"
                :maxlength="maxlenght"
                @focus="onFocus"
                @blur="onBlur"
                @keyup.enter="onSearch"
            />
            <img
                v-show="!!searchText"
                width="14"
                height="14"
                :src="img.CloseIcon"
                class="search-box__clear"
                @click.prevent="onClear"
            />
            <i class="search-box__icon" @click.prevent="onSearch" />
        </div>
    </div>
</template>
<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator';

import FmDropdown from '@fm/vue-ui/components/dropdown';
import FmDropdownMenu from '@fm/vue-ui/components/dropdown-menu';
import FmDropdownItem from '@fm/vue-ui/components/dropdown-item';

import CloseIcon from './images/close_active.svg';
import AllowRight from './images/arrow-right.svg';
interface LabelValue {
    label: string;
    value: string;
}
@Component({
    components: {
        FmDropdown,
        FmDropdownMenu,
        FmDropdownItem
    }
})
export default class SearchBox extends Vue {
    /**
     * placeholder
     */
    @Prop({ type: String, default: 'Please input' })
    public placeholder!: string;

    /**
     * maxlenght
     */
    @Prop({ type: Number, default: 999 })
    public maxlenght!: number;

    /**
     * 传入的值
     */
    @Prop({
        type: String,
        default: () => {
            return 'email';
        }
    })
    public value!: string;

    /**
     * 下拉选择的值
     */
    @Prop({
        type: String,
        default: () => {
            return 'email';
        }
    })
    public selectValue!: string;

    @Prop({
        type: Array,
        default: () => [
            { label: 'UID', value: 'uid' },
            { label: '手机', value: 'mobile' },
            { label: '邮箱', value: 'email' },
            { label: '昵称', value: 'nikangname' },
            { label: '姓名', value: 'Name' },
            { label: 'MT4', value: 'MTAccount' }
        ]
    })
    public list!: LabelValue[];

    public active = false;

    public img = {
        CloseIcon,
        AllowRight
    };

    // public closeIcon = CloseIcon;

    public checkedValue = '';
    @Watch('selectValue')
    public watchSelect() {
        this.checkedValue = this.selectValue;
    }

    public get checkedLabel() {
        const data: LabelValue[] = this.list.filter((item: LabelValue) => {
            return item.value === this.checkedValue;
        });
        if (!data || !data.length) {
            return '';
        }
        return data[0].label;
    }

    public get searchText() {
        return this.value.trim();
    }
    public set searchText(value: string) {
        this.$emit('input', value);
    }

    public beforeMount() {
        this.checkedValue = this.selectValue;
    }

    public itemClick(value) {
        this.checkedValue = value;
    }

    /**
     * 文本框 聚焦事件
     */
    public onFocus(ev: MouseEvent) {
        this.active = true;
        this.$emit('click');
    }

    /**
     * 文本框 失焦事件
     */
    public onBlur(ev: MouseEvent) {
        this.active = false;
    }

    /**
     * 清除输入框
     */
    public onClear() {
        this.$emit('input', '');
    }

    public onSearch() {
        if (!this.searchText) return;
        this.$emit('search', this.checkedValue, this.searchText);
    }
}
</script>
<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
.search-box__wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    // background: @--border-color-lighter;
    background: transparent;
}

.search-box {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    height: 40px;
    padding: 0 40px 0 16px;
    line-height: 40px;
    // background: @--border-color-extra-light;
    background: @--color-white;
    border-radius: 8px;
    img {
        transform: rotate(90deg);
    }
}

.active {
    img {
        transform: rotate(0);
    }
}

.search-box:hover {
    // background: @--border-color-extra-light;
    background: @--color-white;
}

.search-box__icon {
    position: absolute;
    top: 50%;
    right: 12px;
    display: inline-block;
    width: 24px;
    height: 24px;
    background-image: url('./images/search_active.png');
    background-position: center;
    background-size: contain;
    transform: translateY(-50%);
    cursor: pointer;
    content: '';
}

.search-box__input {
    width: 100%;
    height: 20px;
    color: #333;
    font-size: 14px;
    line-height: 20px;
    background: transparent;
    border: none;
    outline: none;
    caret-color: #ff6200;
}

.search-box__input::placeholder {
    color: #ccc;
}

.search-box__clear {
    padding: 4px;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        background: mix(
            @--background-color-dark,
            @--background-color-base,
            70%
        );
    }
}
.dropdown-label {
    display: flex;
}
.search-select {
    flex-shrink: 0;
    min-width: 40px;
    max-width: 60px;
    padding-right: 4px;
    overflow: hidden;
    font-size: 14px;
    text-overflow: ellipsis;
    word-break: keep-all;
}
.split {
    display: inline-block;
    padding: 0 8px;
    color: #e6e6e6;
}
.search-active {
    border: 1px solid @--color-primary;
}
.item-list {
    flex-shrink: 0;
}
</style>
