<template>
    <div class="select-country">
        <FilterDialog :title="title" @click="visible = true" />
        <div>
            <span v-if="getCountryCode" class="select-result">
                {{ getCountryCode }}
            </span>
        </div>
        <FmModal
            :visible="visible"
            :title="subTitle"
            mobileType="fit"
            @close="visible = false"
        >
            <template v-slot:footer>
                <a
                    :class="['dialog-footer', { disabled: selectCode === -1 }]"
                    href="javascript:void(0);"
                    @click="submit"
                >
                    {{ confirmText }}
                </a>
            </template>
            <div class="country-container">
                <div
                    v-for="(item, index) in data"
                    :key="index"
                    class="country-list"
                    @click="selectAccount(item)"
                >
                    <div class="country-name">
                        {{ item.country }}
                    </div>
                    <img
                        v-if="selectCode === item.code"
                        :src="SelectSVG"
                        alt="select"
                        class="select-active"
                    />
                    <span v-else class="circle" />
                </div>
            </div>
        </FmModal>
    </div>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import FilterDialog from 'crm-lib/src/crm-components/filters/dialog.vue';

import FmModal from '@fm/vue-ui/components/modal';

import SelectSVG from './images/select.svg';

export interface Country {
    country: string;
    code: number;
}

@Component({
    components: { FilterDialog, FmModal }
})
export default class SearchBox extends Vue {
    @Prop({
        type: Array,
        default: () => {
            return [{ country: 'Indonesia', code: 62 }];
        }
    })
    public data!: Country[];
    @Prop({
        type: String,
        default: () => 'COUNTRY'
    })
    public title!: string;
    @Prop({
        type: String,
        default: () => ''
    })
    public subTitle!: string;
    @Prop({ type: String })
    public confirmText!: string;

    public get getCountryCode() {
        const result: Country | undefined = this.data.find((item: Country) => {
            return this.selectCode === item.code;
        });
        if (result) {
            return result.country;
        }
        return '';
    }

    public visible = false;
    public SelectSVG = SelectSVG;
    public selectCode = -1;
    public submit() {
        this.visible = false;
        this.$emit('change', this.selectCode);
    }
    public selectAccount(item: Country) {
        this.selectCode = item.code;
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
.select-country {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 10px 0;
}
.select-result {
    display: inline-block;
    box-sizing: border-box;
    height: 16px;
    margin-right: 20px;
    margin-bottom: 10px;
    padding: 2px 6px;
    color: @--color-text-regular;
    font-size: 12px;
    background: @--background-color-dark;
    border-radius: 2px;
}
/deep/ .filter-item {
    padding: 0;
}
.dialog-footer {
    display: flex;
    padding: 5px 12px;
    color: #fff;
    font-size: 14px;
    text-decoration: none;
    background: @--color-primary;
    border-radius: 30px;
}
.country-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0 20px;
    border-bottom: 1px solid #e6e6e6;
    cursor: pointer;
    &:hover {
        background: @--background-color-base;
        .country-name {
            color: @--color-primary;
        }
    }
}
.country-left {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
.circle {
    display: flex;
    flex-shrink: 0;
    box-sizing: border-box;
    width: 18px;
    height: 18px;
    background: #fff;
    border: 2px solid #e6e6e6;
    border-radius: 18px;
}
.disabled {
    cursor: not-allowed;
    opacity: 0.2;
}
</style>
