<template>
    <TextAreaBox
        v-model="remarkValue"
        class="list-top"
        :placeholder="placeholder"
    />
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';

import TextAreaBox from 'crm-lib/src/components-base/textarea-box';

@Component({
    components: {
        TextAreaBox
    }
})
export default class SliderRemark extends Vue {
    @Prop({
        type: String,
        default: () => ''
    })
    public value!: string;

    @Prop({
        type: String,
        default: () => ''
    })
    public placeholder!: string;

    public get remarkValue() {
        return this.value.trim();
    }
    public set remarkValue(value) {
        this.$emit('click', value);
        this.$emit('input', value);
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var.less';
.input-box {
    box-sizing: border-box;
    margin-top: 10px;
    background: #fff;
    border-radius: 4px;
    /deep/ .fmui-input {
        background: #fff;
    }
}
.list-top {
    margin-top: 10px;
}
.remark-input {
    height: 40px;
    /deep/ .fmui-input-content {
        height: 40px;
        border: 2px solid transparent;
        border-radius: 4px;
    }
    &.active {
        /deep/ .fmui-input-content {
            border: 2px solid @--color-primary;
        }
    }
}
</style>
