<template>
    <img
        class="im-message"
        :width="width"
        :height="width"
        src="./images/message.svg"
        alt="message"
        @click.stop.prevent="wakeIM"
    />
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';

@Component({})
export default class WeapImView extends Vue {
    @Prop({ type: Number, required: true })
    public userId!: number;

    @Prop({ type: Number, default: 16 })
    public width!: number;

    @Prop({ type: Function, default: () => {} })
    public weapUpCallback!: Function;

    public wakeIM() {
        if (typeof this.weapUpCallback === 'function') {
            this.weapUpCallback(this.userId);
        }
    }
}
</script>

<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';
.im-message {
    padding: 4px;
    cursor: pointer;
    &:hover {
        background: @--background-color-dark;
        border-radius: 50%;
    }
}
</style>
