<template>
    <section>
        <CardInfo :title="title">
            <label-value
                v-for="(labelItem, index) in infoList"
                :key="index"
                :title="labelItem.title"
                :content="labelItem.content || undefined"
                style="width: 48%;"
                :editor="labelItem.editor"
                :editorType="labelItem.editorType"
                :editorContent="labelItem.editorContent"
                :bold="labelItem.bold"
                :color="labelItem.color"
                :required="labelItem.required"
                :field="labelItem.field"
                @change-value="handleEditorChange"
            />
        </CardInfo>
    </section>
</template>
<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';
import { TypeProps, EmitProps } from './index';
import LabelValue from 'crm-lib/src/components-base/label-value';
import CardInfo from 'crm-lib/src/components-base/card/info-card.vue';

@Component({
    components: {
        CardInfo,
        LabelValue
    }
})
export default class intro extends Vue {
    @Prop({ type: Array, default: () => [] })
    public infoList!: TypeProps['infoList'];

    @Prop({ type: String, default: '' })
    public title!: TypeProps['title'];

    public handleEditorChange(changeItem) {
        this.$emit('change', changeItem);
    }
}
</script>

<style lang="less" scoped>
/deep/ .info-card__body {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
</style>
