<template>
    <FmRadioGroup v-model="radioValue" class="type-box">
        <FmRadio
            v-for="(item, index) in list"
            :key="index"
            :label="item.value"
            class="raio-list"
        >
            <div :class="[formatClass(item), 'radio-label']">
                <img :src="imgSrc(item.isReject)" alt="sign" width="16" />
                <span class="label-text">{{ item.label }}</span>
            </div>
        </FmRadio>
    </FmRadioGroup>
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import FmRadio, { FmRadioGroup } from '@fm/vue-ui/components/radio';
import { RadioValue, ReviewLabelValue } from './index';
import SuccessImg from './images/icon-tick-green.svg';
import ErrorImg from './images/icon-incorrect.svg';
@Component({
    components: { FmRadio, FmRadioGroup }
})
export default class Radio extends Vue {
    @Prop({ type: [Boolean, String, Number] })
    public value?: RadioValue;
    @Prop({ type: Array })
    public list!: ReviewLabelValue[];
    public get radioValue() {
        return this.value;
    }
    public set radioValue(value) {
        this.$emit('input', value);
        this.$emit('change', value);
    }
    public imgSrc(isReject: boolean) {
        if (isReject) {
            return ErrorImg;
        }
        return SuccessImg;
    }
    public formatClass(item: ReviewLabelValue) {
        if (item.class) return item.class;
        if (item.isReject) {
            return 'reject';
        }
        if (!item.isReject) {
            return 'success';
        }
    }
}
</script>

<style scoped lang="less">
.raio-list {
    display: flex;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 0 10px;
    background: #fff;
    border-radius: 4px;

    /deep/ .fmui-radio-inner {
        position: absolute;
        right: 40px;
    }
}
.radio-label {
    display: flex;
    align-items: center;
}
.label-text {
    padding-left: 6px;
}
.success {
    color: #00af92;
}
.reject {
    color: #eb525f;
}
</style>
