<template>
    <div>
        <div class="level-cell-box" @click="openChilder = !openChilder">
            <radio class="level-cell-radio" :value="1" />
            <img
                class="level-cell-logo"
                src="https://article.ziweiai.com/images/26636c7868d44c509cceb0102c5c46f8.jpg"
            />
            <div class="level-cell-name">name</div>
            <i
                v-if="childerStatus"
                :class="[
                    'level-cell-icon',
                    { 'level-cell-icon-active': openChilder }
                ]"
            />
        </div>
        <div v-show="openChilder" class="level-cell-chlider">
            <slot />
        </div>
    </div>
</template>
<script lang="ts">
import { Vue, Component } from 'vue-property-decorator';
import radio from '@fm/vue-ui/components/radio';

@Component({
    components: { radio }
})
export default class LevelCell extends Vue {
    public openChilder = false;

    public get childerStatus() {
        return !!this.$slots.default;
    }
    public mounted() {}
}
</script>
<style lang="less" scoped>
.level-cell-radio {
    margin: 0 5px;
}
img.level-cell-logo {
    width: 30px;
    height: 30px;
    margin: 0 5px;
    object-fit: cover;
    border-radius: 50%;
}

.level-cell-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-sizing: content-box;
    padding: 10px;
    cursor: pointer;
}

.level-cell-name {
    flex: 1;
    // margin: 5px;
    color: #333;
    font-size: 14px;
}
.level-cell-icon {
    width: 16px;
    height: 16px;
    background-image: url('./assets/list.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}
.level-cell-icon-active {
    background-image: url('./assets/list-active.svg');
}
.level-cell-chlider {
    padding-left: 40px;
}
</style>
