<template>
    <div class="pagination-box">
        <Pagination
            :total="total"
            :page="page"
            :pageSize="pageSize"
            @handlePageSize="pageSizeChange"
            @handleCurrentPage="pageChange"
        />
        <EmptyView v-if="isEmpty" />
    </div>
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import Pagination from 'crm-lib/src/crm-components/pagination';
import { BasePaginationModel } from 'crm-lib/src/declare/ssr-broker-crm/client';
import EmptyView from 'crm-lib/src/components-base/empty-view/view.vue';

@Component({
    components: {
        Pagination,
        EmptyView
    }
})
export default class PaginationDecorator extends Vue {
    /**
     * PageList Store Model
     */
    @Prop({ type: Object, required: true })
    public pageModel!: BasePaginationModel<any, any, any>;

    public get page() {
        return this.paginationInfo.pageIndex || 1;
    }

    public get pageSize() {
        return this.paginationInfo.pageSize || 10;
    }

    public get total() {
        return this.paginationInfo.totalCount || 0;
    }

    public get paginationInfo() {
        return this.pageModel.pagination;
    }

    public get isEmpty() {
        return this.pageModel.response?.code === 0 && this.total === 0;
    }

    public async pageSizeChange(size: number) {
        await this.pageModel.onPageSizeChange(size);
    }

    public async pageChange(page: number) {
        await this.pageModel.onTargetPage(page);
    }
}
</script>
<style lang="less" scoped>
.pagination-box {
    padding: 6px 20px 10px;
}
</style>
