<template>
    <FmSelect :value="value" class="select__item" @change="handleChange">
        <template v-slot:reference>
            <FmInput
                :value="value === 0 ? '' : optionsMap[value]"
                :label="label"
                :placeholder="placeholder"
                :required="required"
                :error-message="errorMessage"
                :readonly="true"
            />
        </template>
        <FmOption
            v-for="item in options"
            :key="item.content"
            :value="item.value"
            :disabled="item.disabled"
            >{{ item.content }}
        </FmOption>
    </FmSelect>
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator';
import FmInput from '@fm/vue-ui/components/input';
import FmSelect from '@fm/vue-ui/components/select';
import FmOption from '@fm/vue-ui/components/option';

@Component({
    components: {
        FmInput,
        FmSelect,
        FmOption
    }
})
export default class SelectItem extends Vue {
    @Prop({
        type: Number,
        default: 0,
        required: true
    })
    public value!: number;

    @Prop({
        type: String,
        default: ''
    })
    public label!: string;

    @Prop({
        type: String,
        default: ''
    })
    public placeholder!: string;

    @Prop({
        type: Boolean,
        default: false
    })
    public required!: boolean;

    @Prop({
        type: String,
        default: ''
    })
    public errorMessage!: string;

    @Prop({
        type: Array,
        default: () => []
    })
    public options!: any[];

    public get optionsMap() {
        const temp = new Map();
        this.options.forEach((item) => {
            temp[item.value] = item.content;
        });
        return temp;
    }

    public handleChange(value: number) {
        this.$emit('input', value);
        this.$emit('change', value);
    }
}
</script>

<style lang="less" scoped>
.select__item {
    width: 100% !important;
    height: auto !important;
}
</style>
