<template>
    <img
        class="icon-box"
        src="./images/edit.svg"
        alt="edit"
        width="16"
        @click.stop="excuEditHandler"
    />
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

@Component
export default class EditIconView extends Vue {
    @Prop({ type: Function, required: true })
    public editHandler!: Function;

    public excuEditHandler() {
        if (typeof this.editHandler === 'function') {
            this.editHandler();
        }
    }
}
</script>
<style lang="less" scoped>
@import 'crm-lib/src/crm-components/theme-chalk/var';

.icon-box {
    display: inline-block;
    margin-right: 4px;
    padding: 4px;
    cursor: pointer;
    &:hover {
        background: @--background-color-dark;
        border-radius: 50%;
    }
}
</style>
