<template>
    <div class="select-time-box">
        <FilterDropdown
            v-model="applicaion"
            title="Application"
            :list="timeSelect"
        />
        <FilterDropdown
            v-if="!hideProcessed"
            v-model="processValue"
            title="Processed"
            :list="timeSelect"
        />
    </div>
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator';

import FilterDropdown from 'crm-lib/src/crm-components/filters/dropdown.vue';
import { timeSelect } from './index';
import { i18n, translate } from './i18n/translates';
export interface LabelValue {
    label: string;
    value: string;
}
@Component({
    i18n,
    components: { FilterDropdown }
})
export default class SearchBox extends Vue {
    @Prop({
        type: String,
        default: 'All'
    })
    public value!: string;
    @Prop({
        type: String,
        default: 'All'
    })
    public process!: string;
    @Prop({
        type: Boolean,
        default: () => false
    })
    public hideProcessed!: boolean;
    public translate = translate;
    public get processValue() {
        return this.process;
    }
    public set processValue(value: string) {
        this.$emit('change', value, 'processTime');
    }
    public get langs() {
        return this.translate('words');
    }
    public get applicaion() {
        return this.value;
    }
    public set applicaion(value: string) {
        this.$emit('input', value, 'applicaionTime');
        this.$emit('change', value, 'applicaionTime');
    }
    public get timeSelect() {
        return timeSelect(this);
    }
}
</script>

<style lang="less" scoped>
.select-time-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100px;
}
/deep/ .filter-item {
    padding: 0;
}
</style>
