<template>
    <img v-if="showIcon" :src="sexIcon" alt="sex" width="14" height="14" />
</template>
<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator';
import { GENDER } from 'ssr-broker-crm/src/types/enum-const';
@Component({})
export default class GenderView extends Vue {
    @Prop({ type: Number, default: GENDER.MAIL })
    public sex!: GENDER;

    public get sexIcon() {
        switch (this.sex) {
            case GENDER.MAIL:
                return require('./images/mail.svg');
            case GENDER.FEMAIL:
                return require('./images/femail.svg');
        }
    }

    public get showIcon() {
        return !!GENDER[this.sex];
    }
}
</script>
<style lang="less" scoped></style>
